:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888888; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #464545; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333; 
}

body{
  margin: 0;
}